In [1]:
# baseado em https://stackabuse.com/k-nearest-neighbors-algorithm-in-python-and-scikit-learn/
# https://www.codigofluente.com.br/aula-06-scikit-learn-vizinhos-mais-proximos-knn/
# https://colab.research.google.com/github/littlecolumns/ds4j-notebooks/blob/master/classification/notebooks/Correcting%20for%20imbalanced%20datasets.ipynb#scrollTo=jq9376MGvTa7

In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from sklearn import cluster, neighbors, svm, metrics, preprocessing
import plotly.express as px
np.set_printoptions(suppress=True)

In [3]:
originalDF = pd.read_csv('penguins_size.csv', encoding = "ISO-8859-1")

In [4]:
from sklearn import preprocessing
 
label_encoder = preprocessing.LabelEncoder()

encodedDF = originalDF.copy()
encodedDF['island']= label_encoder.fit_transform(encodedDF['island'])
encodedDF['sex']= label_encoder.fit_transform(encodedDF['sex'])
encodedDF['species']= label_encoder.fit_transform(encodedDF['species'])

encodedDF = encodedDF[~np.isnan(encodedDF).any(axis=1)]
encodedDF.reset_index(drop=True, inplace=True)
encodedDF

,species,island,culmen_length_mm,culmen_depth_mm,flipper_length_mm,body_mass_g,sex
0,0,2,39.1,18.7,181.0,3750.0,2
1,0,2,39.5,17.4,186.0,3800.0,1
2,0,2,40.3,18.0,195.0,3250.0,1
3,0,2,36.7,19.3,193.0,3450.0,1
4,0,2,39.3,20.6,190.0,3650.0,2
...,...,...,...,...,...,...,...
337,2,0,47.2,13.7,214.0,4925.0,1
338,2,0,46.8,14.3,215.0,4850.0,1
339,2,0,50.4,15.7,222.0,5750.0,2
340,2,0,45.2,14.8,212.0,5200.0,1
341,2,0,49.9,16.1,213.0,5400.0,2

In [5]:
from sklearn.preprocessing import StandardScaler

scaledArr = StandardScaler().fit_transform(encodedDF.loc[:, ['island','culmen_length_mm','culmen_depth_mm', 'flipper_length_mm', 'body_mass_g', 'sex']].values)
scaledDF = pd.DataFrame(data = scaledArr, columns = ['island','culmen_length_mm','culmen_depth_mm', 'flipper_length_mm', 'body_mass_g', 'sex']) 
scaledDF

,island,culmen_length_mm,culmen_depth_mm,flipper_length_mm,body_mass_g,sex
0,1.852870,-0.884499,0.785449,-1.418347,-0.564142,0.846836
1,1.852870,-0.811126,0.126188,-1.062250,-0.501703,-0.974660
2,1.852870,-0.664380,0.430462,-0.421277,-1.188532,-0.974660
3,1.852870,-1.324737,1.089724,-0.563715,-0.938776,-0.974660
4,1.852870,-0.847812,1.748985,-0.777373,-0.689020,0.846836
...,...,...,...,...,...,...
337,-0.914298,0.601305,-1.750171,0.931890,0.903175,-0.974660
338,-0.914298,0.527932,-1.445897,1.003109,0.809516,-0.974660
339,-0.914298,1.188289,-0.735923,1.501644,1.933419,0.846836
340,-0.914298,0.234440,-1.192335,0.789451,1.246590,-0.974660
341,-0.914298,1.096572,-0.533073,0.860670,1.496346,0.846836

In [6]:
scaledDF = pd.concat([scaledDF, encodedDF[['species']]], axis = 1)
scaledDF

,island,culmen_length_mm,culmen_depth_mm,flipper_length_mm,body_mass_g,sex,species
0,1.852870,-0.884499,0.785449,-1.418347,-0.564142,0.846836,0
1,1.852870,-0.811126,0.126188,-1.062250,-0.501703,-0.974660,0
2,1.852870,-0.664380,0.430462,-0.421277,-1.188532,-0.974660,0
3,1.852870,-1.324737,1.089724,-0.563715,-0.938776,-0.974660,0
4,1.852870,-0.847812,1.748985,-0.777373,-0.689020,0.846836,0
...,...,...,...,...,...,...,...
337,-0.914298,0.601305,-1.750171,0.931890,0.903175,-0.974660,2
338,-0.914298,0.527932,-1.445897,1.003109,0.809516,-0.974660,2
339,-0.914298,1.188289,-0.735923,1.501644,1.933419,0.846836,2
340,-0.914298,0.234440,-1.192335,0.789451,1.246590,-0.974660,2
341,-0.914298,1.096572,-0.533073,0.860670,1.496346,0.846836,2

In [7]:
corr = scaledDF.corr()
corr.style.background_gradient(cmap='coolwarm')

In [8]:
y = scaledDF.loc[:, ['species']].values
X = scaledDF.loc[:, ['culmen_length_mm', 'flipper_length_mm']].values
# X

In [9]:
from sklearn.decomposition import PCA

n_components = 6
pca = PCA(n_components=n_components)

principalComponents = pca.fit_transform(scaledDF.drop(columns=['species']))
principalDf = pd.DataFrame(data = principalComponents, columns = ['Componente Principal 1', 'Componente Principal 2'])

total_var = pca.explained_variance_ratio_.sum() + 100

labels = {str(i): f"PC {i+1}" for i in range(n_components)}
labels['color'] = 'Penguins'

fig = px.scatter_matrix(
    components,
    color=scaledDF['species'],
    dimensions=range(n_components),
    labels=labels,
    title=f'Total Explained Variance: {total_var: .2f}%',
)

fig.update_traces(diagonal_visible=False)
fig.show()

finalDf = pd.concat([principalDf, scaledDF[['species']]], axis = 1)
finalDf['species'] = label_encoder.inverse_transform(scaledDF['species'])
finalDf

ValueError: Shape of passed values is (342, 6), indices imply (342, 2)

In [ ]:
fig = plt.figure(figsize = (8,8))
ax = fig.add_subplot(1,1,1) 
ax.set_xlabel('Componente Principal 1', fontsize = 15)
ax.set_ylabel('Componente Principal 2', fontsize = 15)
ax.set_title('PCA com 2 componentes', fontsize = 20)
targets = ['Adelie', 'Chinstrap', 'Gentoo']
colors = ['r', 'g', 'b']
for target, color in zip(targets,colors):
    indicesToKeep = finalDf['species'] == target
    ax.scatter(finalDf.loc[indicesToKeep, 'Componente Principal 1']
               , finalDf.loc[indicesToKeep, 'Componente Principal 2']
               , c = color
               , s = 50)
ax.legend(targets)
ax.grid()